<div class="guru-card">
  <p ng-show="viewState.obverse">
    <span class="label">question</span>
    <br>
    {{card.question}}
  </p>

  <p ng-hide="viewState.obverse">
    <span class="label">answer</span>
    <br>
    {{card.answer}}
  </p>

  <button ng-show="viewState.obverse" ng-click="flipCard()">flip card</button>

  <div ng-hide="viewState.obverse">
    <p>How hard was that?</p>
    <div class="grade-menu">
      <button ng-click="gradeCard(1)">1</button>
      <button ng-click="gradeCard(2)">2</button>
      <button ng-click="gradeCard(3)">3</button>
      <button ng-click="gradeCard(4)">4</button>
      <button ng-click="gradeCard(5)">5</button>
    </div>
  </div>

</div>