<div>
  <button id="add-card" ng-click="createCard()">Add card</button>

  <div class="panel" ng-show="viewState.landing">
    <p>Welcome!</p>
    <p>You have xx cards to review.</p>
    <button ng-click="begin()">Let's do this</button>
  </div>

  <div class="panel" ng-show="viewState.training">
    <div class="card-counter">
      <span class="label">{{cardIdx + 1}} of {{cards.length}}</span>
    </div>

    <guru-card card="cards[cardIdx]" card-idx="cardIdx"></guru-card>
  </div>

  <div class="panel" ng-show="viewState.reviewing">
    <p>You're done!</p>
    <p>INSERT SUMMARY DETAILS HERE</p>
  </div>
</div>