doctype html
html(ng-app='guru')
  head
    title Guru | Spaced Repetition Learning
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-resource.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.min.js')
    script(src='/javascripts/guru.js')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content