body {
  margin: 0;
  padding: 2em 0 0;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  background-color: #ddd;
}

a {
  color: #00B7FF;
}

.counter {
  text-align: left;
  font-size: .66em;
  margin-left: 1.66em;
  letter-spacing: .2em;
}

.app {
  width: 30em;
  margin: auto;
  background-color: #eee;
  padding: 1em 0;
  border-radius: 5px;
  height: 20em;
  position: relative;
  text-align: center;
}

.menu {
  position: absolute;
  margin: auto;
  display: block;
  bottom: 1em;
  width: 90%;
  left: 50%;
  margin-left: -45%;
}

.main-menu button {
  display: inline-block;
  float: left;
  width: 49%;
}

.main-menu button:last-child {
  margin-left: 2%;
}

.back-card-menu button {
  margin-top: .33em;
}

button {
  font-size: 1em;
  padding: .5em;
  border: none;
  box-shadow: none;
  background-color: #aaa;
  display: block;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: lighten(#aaa, 10%);
  }
}

#add-card {
  background-color: white;
  border: none;
  position: absolute;
  bottom: 1em;
  right: 0;
}

.guru-angular-wrapper {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  max-width: 20em;
}

.label {
  font-weight: 100;
  text-transform: uppercase;
  font-size: .5em;
  color: #777;
}

.panel {
  margin-top: 1vh;
  padding: 1em 2em;
  background-color: #eee;
  height: 60vh;
  overflow: scroll;
  .card-counter {
    text-align: right;
  }
}


.grade-menu {
  button {
    margin-bottom: .5em;
  }
}